DATABASE_URL=postgresql://neondb_owner:npg_I2ePZp9RfDga@ep-rough-night-abvbt045-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=verify-full
PAYLOAD_SECRET=replace-with-a-long-random-secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=razrab@bk.ru
SMTP_PASS=SuOaP2PCAft0wbbGDabK
SMTP_FROM=razrab@bk.ru